@CHARSET "ISO-8859-1";
body {
	background-image: url("../images/Bill-2.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	background-attachment: fixed;
}
h1 {
	font-size: 3em;
}
div.fld {
	background: #ccd5e1;
	border-radius: 10px;
	border-color: navy;
	border-width: 3px;
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

na .mynav {
	position: fixed;
	top: 60px;
	z-index: 999;
}
div.mynavitem {
	background: white;
	border-radius: 8px;
	border-color: navy;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mynav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.mynav ul li {
	display: inline;
}
.mynav ul li a {
	text-decoration: none;
	padding: .2em 1em;
}

.positionheld {
	margin-top: 10px;
}
.employer {
	font-weight: bold;
}
.workdates {}
.worktitle {}
.workhighlights {}
.workresponsibilities {}